<!DOCTYPE html>
    <html lang="ja">


    <head>
        <meta charset="utf-8">
        <title>入力</title>
        <style>
            .arrow {
                width: 45px;
                /* ボックスの横幅を指定する */
                height: 45px;
                /* ボックスの高さを指定する */
                border-top: 2px solid #666666;
                /* 境界線の上部を実線に指定する*/
                border-right: 2px solid #666666;
                /* 境界線の上部を実線に指定する*/
                transform: rotate(45deg);
                /* ボックスを回転させる（右向き矢印） */

            }
        </style>
        <link rel="stylesheet" href="http://yui.yahooapis.com/3.18.1/build/cssreset-min.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="enter.css">
    </head>

    <body>
        <h1>
            <div id="status">
                <div class="container">


                    <div class="item active">
                        入力&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </div>
                    <div>
                        <div class="arrow"></div>
                    </div>


                    <div class="item">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp確認&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </div>
                    <div>
                        <div class="arrow"></div>
                    </div>

                    <div class="item">
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp完了
                    </div>
                </div>
            </div>
        </h1>
        <div class="sam">
            <div class="enter">
                <p>開始:&nbsp&nbsp5:00</p>
                <p>終了:&nbsp&nbsp7:00</p>
                <p>球場:&nbsp&nbsp会津球場&nbsp;&nbsp;<a href="https://goo.gl/maps/BW4B1R5LdCrGYAip7"
                        target="_blank">GoogleMapで開く</a></p>

                <!--   <div class="cp_tooltip"><span data-tooltip="試合を申し込みたいけど、人数が足りていない際に、必要、の欄にチェックをつけ、必要な人数を入力してください。" class="cp_tooltiptext"><form>助っ人：
            <input type="radio" name="助っ人" value="不必要"　checked> 不必要
            <input type="radio" name="助っ人" value="必要"> 必要
        
            &nbsp;&nbsp;&nbsp;人数:
            <select name="number">
                <option value="1">1人</option>
                <option value="2">2人</option>
                <option value="3">3人</option>
                <option value="4">それ以上</option>
            </select></form></span></div> -->
                <div class="message">
                        <div>
                            <form><b>助っ人</b> <a class="tooltip"><i class="fas fa-question-circle"></i><span
                                    class="remark">試合を申し込みたいけど、人数が足りていない際に、必要、の欄にチェックをつけ、必要な人数を入力してください。</span></a>：
                                <input type="radio" name="助っ人" value="不必要" 　checked> 不必要
                                <input type="radio" name="助っ人" value="必要"> 必要

                                &nbsp;&nbsp;&nbsp;人数:
                                <select name="number">
                                    <option value="1">1人</option>
                                    <option value="2">2人</option>
                                    <option value="3">3人</option>
                                    <option value="4">それ以上</option>
                                </select>
                            </form>
                        </div>
                </div>

                <div class="message">
                        <form><b>審判</b> <a class="tooltip"><i class="fas fa-question-circle"></i><span class="remark">審判のご協力をして頂ける際は、&#013;不必要、にチェックをつけてください。また、審判を出すことが厳しい場合には、必要、にチェックしてください。</span></a>：
                            <input type="radio" name="審判" value="不必要" 　checked> 不必要
                            <input type="radio" name="審判" value="必要"> 必要
                        </form>
                </div>
                


            </div>
        </div>
        <div id="enter">
            <button type="submit" name="name" value="値"><a
                    href="kakunin.html">内容確認</a></button>
        </div>

    </body>

    </html>