<!DOCTYPE html>
<html>

<head>
    <title>まほろば｜予約申請</title>
    <meta charset="UTF-8">
    <meta lang="ja">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="このwebサイトでは、野球チーム「まほろば改」に予約申請を行えます。たくさんの予約申請お待ちしております。">
    <!--
            <meta property="og:url" content="ページのURL" />
            <meta property="og:title" content="ページのタイトル" />
            <meta property="og:type" content="ページのタイプ">
            <meta property="og:description" content="記事の抜粋" />
            <meta property="og:image" content="画像のURL" />
            <meta name="twitter:card" content="カード種類" />
            <meta name="twitter:site" content="@Twitterユーザー名" />
            <meta property="og:site_name" content="サイト名" />
            <meta property="og:locale" content="ja_JP" />
            <meta property="fb:app_id" content="appIDを入力">
            opgタグ：ソーシャル流出を重視するのであれば必須
        -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="/static/css/sample.css" rel="stylesheet">
</head>

<body>
    <div id="headline">
        <h1>まほろば改予約申請</h1>
        <p>このwebサイトでは、野球チーム「まほろば改」に予約申請を行えます。たくさんの予約申請お待ちしております。</p>
        <h2 class="snsIcon"><span class="mar-20px"><i class="far fa-envelope"></span></i><i
                class="fab fa-instagram"></i></h2>
    </div>
    <ol class="bread" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{url_for('redirects')}}"><!--今はまだファイル名-->
                <span itemprop="name">ホーム</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
    </ol>
    <!--ホームに滞在中は非表示-->
    <style>
        .bread {
            display: none;
        }
    </style>
    <div class="left-colum">
        <div class="nav">
            　<ul>
                <li id="menu">MENU</li>
                <a href="{{url_for('redirects')}}">
                    <li>予約申請
                    </li>
                </a>
                <a href="{{url_for('reserveList')}}">
                    <li>予約状況
                    </li>
                </a>
                <li>Q&A</li>
                <a href="{{url_for('login')}}">
                    <li>ログイン
                    </li>
                </a>
            </ul>
        </div>
        <div id = "forecast">
        <h2>会津若松の天気</h2>
        <ol><span id="day">日にち</span><span id="icon"><image src="http://openweathermap.org/img/wn/10d@2x.png"></span><span id="description">快晴</span><span id="tempreture"><i class="fas fa-temperature-high"></i> 3°</span><span id="wind"><i class="fas fa-wind"></i> 30m/s</span></ol>
        </div>
    </div>
    <div class="right-colum">
        <div class="brock">
            <table>
                <caption>
                    <h2 class="yearAndMonth">
                        <form action="{{url_for('index')}}">
                        <span id="left"><button type="submit" name="method" class="prev" value="prev">＜PREV</button></span>
                        <span id =center> {{selectYear}}月{{selectMonth}}月  </span>
                        <span id="right"><button type="submit" name="method" class="next" value="next">NEXT＞</button></span>
                        <input type="hidden" name="month" value="{{selectMonth}}"/>
                            </form>
                    </h2>
                </caption>
                <tr>
                    <td class="week">日</td>
                    <td class="week">月</td>
                    <td class="week">火</td>
                    <td class="week">水</td>
                    <td class="week">木</td>
                    <td class="week">金</td>
                    <td class="week">土</td>
                </tr>
                {% for week in calender %}
                <tr>
                    {% for day in week %}
                    {{day|safe}}
                    {% endfor%}                   
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>