<!DOCTYPE html>
<html>

<head>
    <title>まほろば｜予約申請</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="このwebサイトでは、野球チーム「まほろば改」に予約申請を行えます。たくさんの予約申請お待ちしております。">
    <!--
            <meta property="og:url" content="ページのURL" />
            <meta property="og:title" content="ページのタイトル" />
            <meta property="og:type" content="ページのタイプ">
            <meta property="og:description" content="記事の抜粋" />
            <meta property="og:image" content="画像のURL" />
            <meta name="twitter:card" content="カード種類" />
            <meta name="twitter:site" content="@Twitterユーザー名" />
            <meta property="og:site_name" content="サイト名" />
            <meta property="og:locale" content="ja_JP" />
            <meta property="fb:app_id" content="appIDを入力">
            opgタグ：ソーシャル流出を重視するのであれば必須
        -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="/static/css/sample.css" rel="stylesheet">
</head>

<body>
    <div id="headline">
        <h1>まほろば改予約申請</h1>
        <p>このwebサイトでは、野球チーム「まほろば改」に予約申請を行えます。たくさんの予約申請お待ちしております。</p>
        <h2 class="snsIcon"><span class="mar-20px"><i class="far fa-envelope"></span></i><i
                class="fab fa-instagram"></i></h2>
    </div>
    <ol class="bread" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{url_for('redirects')}}"><!--今はまだファイル名-->
                <span itemprop="name">ホーム</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
    </ol>
    <!--ホームに滞在中は非表示-->
    <style>
        .bread {
            display: none;
        }
    </style>
    <div class="nav">
        　<ul>
            <li id="menu">MENU</li>
            <a href="{{url_for('redirects')}}">
                <li>予約申請
                </li>
            </a>
            <a href="test_reserve_list.html">
                <li>予約状況
                </li>
            </a>
            <li>Q&A</li>
            <a href="login.html">
                <li>ログイン
                </li>
            </a>
        </ul>
    </div>
    <div class="right-colum">
        <div class="brock">
            <table>
                <caption>
                    <h2 class="yearAndMonth"><i class="fas fa-chevron-left"></i> 2020年11月 <i
                            class="fas fa-chevron-right"></i></h2>
                </caption>
                <tr>
                    <td class="week">日</td>
                    <td class="week">月</td>
                    <td class="week">火</td>
                    <td class="week">水</td>
                    <td class="week">木</td>
                    <td class="week">金</td>
                    <td class="week">土</td>
                </tr>
                <tr>
                    <td class="1">1</td>
                    <td class="2">2</td>
                    <td class="3">3</td>
                    <td class="possible">4</td>
                    <td class="5">5</td>
                    <td class="6">6</td>
                    <td class="possible">7</td>
                </tr>
                <tr>
                    <td class="8">8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td class="14">14</td>
                </tr>
                <tr>
                    <td class="15">15</td>
                    <td>16</td>
                    <td class="parent">
                        <span class="circle">17</span>
                    </td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td class="possible"><a href="test_schedule.html">21</a></td>
                </tr>
                <tr>
                    <td class="possible">22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td class="28">28</td>
                </tr>
                <tr>
                    <td class="29">29</td>
                    <td>30</td>
                    <td>　</td>
                    <td>　</td>
                    <td>　</td>
                    <td>　</td>
                    <td class="35">　</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td>　</td>
                    <td>　</td>
                    <td>　</td>
                    <td>　</td>
                    <td>　</td>
                </tr>

            </table>
        </div>
    </div>
</body>

</html>